// DISPLAY FLEX
@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}